<div class="col-md-8">
  <h2><%= @application.name %> <small class="text-muted"><%= @application.url%></small></h2>
</div>
<div style="margin-top: 20px;" class="col-md-4">
  <%= link_to "Delete", registered_application_path(@application), method: :delete, class: 'btn btn-danger pull-right', data: {confirm: 'Are you sure you want to delete this site?'} %>
  <%= link_to "Edit Site", edit_registered_application_path(@application), class: 'btn btn-success pull-right' %>
</div>

<div class="col-md-12 tracked-apps">
  <h3>Tracked Events:</h3>
  <h5>Currently tracking <%= @events.count %> events</h5>
  <div class="media">
    <div class="media-body">
      <%= pie_chart @application.events.group(:name).count %>
    </div>
  </div>
</div>